root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true

[*.lock]
charset = unset
end_of_line = unset
indent_size = unset
indent_style = unset
insert_final_newline = unset
max_line_length = unset
tab_width = unset

[*.py]
indent_size = 4

[*.rs]
max_line_length = 100

[{*.yaml, *.yml}]
indent_size = 2
